@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form id="logoutForm"asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li class="dropdown">
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Login<i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
              <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </ul>
    </li>
    
}